.contenedor{
    width: 100%;
    margin: 0 auto;
  }
.container-fluid{
    background-color: #B8FFF9;
    color: #B8FFF9;
}
.navbar-brand{
    color: black;
}

.inner-header{
    display: block;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display:flex;
    

}
.img-h1{
    padding-left: 35%;
    width: 50%;
    position:static;
    vertical-align: text-top;
}
.asside-1{
    width: 30%;
    float: left;
    padding-left: 10%;
}
.inner-asside{
    
    display: flexbox;
}
.info-1{
    padding-left: 5%;
    width: 70%;
    float: left;
}
.footer{
   display: block;
   clear: both;
   padding-left:10% ;
   padding: 5%;
}
li{
   list-style: none; 
}
#button{
margin: 2%;
}